button{
    background-color: cadetblue;
    font-weight: 500;
    width:90%;
    margin:10px;
   
    border-color: white;

    &.registro{
        width: 95%;
        
    }
    
}
button:hover{
    background-color: black;
    color:white;
}