

 <nav class="navbar justify-content-center nav-fijo">
        <!-- USAMEOS EL COMPONENTE BOTON PARA RESERVAS-->
        <app-boton routerLink="/autenticacion">RESERVAR CITA</app-boton>
      </nav>



<!-- <nav>
    <a routerLink="/iniciarsesion">INICIAR SESION</a>
    <a routerLink="/registro">REGISTRO</a>
</nav>

 -->


    <!-- Botón menú mobile. RESPONSIVE --> 
<!--     <button class="header-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerInfo">
      <span class="header-toggler-icon"></span>
    </button> -->