<app-header></app-header>
<app-nav></app-nav>

      
<!-- container-fluid: hace que el contenedor ocuppe todo el ancho de la ventana; g-0 elimina los gutter: espacios entre columnas -->
<main class="container-fluid g-0 main-con-nav">
  <div class="row min-vh-100 g-0">
    <section class="col-12 col-lg-6 d-flex flex-column p-0">
     
      <div
        class="flex-grow-1 d-flex align-items-center justify-content-center  color-fondo"
      >
      <!-- ESLOGAN PELUQUERIA -->
        <h1 class="titulo-playfair  efecto-cargar" >EL PEINADO ES LA FIRMA DE TU PRESENCIA</h1>
      </div>
    </section>

    <!-- Contenido derecha se oculta en moviles -->
    <aside class="col-lg-6 d-lg-block p-0">
      <img src="lineafina.png" alt="logo" class="w-100 h-100" />
    </aside>
  </div>
</main>

<app-footer></app-footer>
