/* =========================
   NAV FIJO
========================= */

.nav-fixed {

  position: fixed;

  top: 100px;

  left: 0;

  width: 100%;

  z-index: 999;
}

@media (max-width: 768px) {

  .nav-fixed {

    top: 160px;
  }
  .main-con-nav{
  margin-top:70px;
  }
}

@media (max-width: 440px) {

  .nav-fixed {

    top: 170px;
  }

  .main-con-nav {
     padding-top: 450px;
  }
}

/* =========================
   CONTENIDO GENERAL
========================= */

.main-con-nav {

  background: #d9d3c7;

  padding-top: 180px;

  min-height: 100vh;
}





td {
    padding-right: 30px;
    
    border-collapse: separate;
    border-spacing: 0 10px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

tbody tr {
    background: white;
}

th,
td {
    padding: 0px 20px;
}
.buscador {
    position: relative;
    width: 300px;
}

.cabecera {
    padding: 0 30px;
    margin-bottom: 20px;
}

.buscador {
    position: relative;
    width: 320px;
    margin-left: 30px; /* separación del borde izquierdo */
}

.buscador i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    margin-left: 0; /* quitar los 150px */
}

.buscador input {
    width: 100%;
    padding: 10px 10px 10px 38px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.avatar{
 font-size: 80px;
}