<nav class="nav-cliente d-flex align-items-center px-4">
  <!-- MENU -->
  <div   class="menu-icon me-4" (click)="menuAbierto = !menuAbierto">
    <i class="bi bi-list"></i>
  </div>

  <!-- LINKS -->
  <div class="nav-links d-none d-md-flex flex-grow-1 h-100 justify-content-around"
  >
    <a routerLink="/citas-disponibles"   routerLinkActive="activo" class="activo"> DISPONIBILIDAD </a>

    <a routerLink="/reserva"   routerLinkActive="activo"> RESERVA </a>

    <a routerLink="/perfil"   routerLinkActive="activo"> PERFIL </a>
  </div>

  <!-- PERFIL -->
  <div class="perfil-icon ms-4">
  <img
    [src]="fotoUsuario"
    alt="perfil"
    class="foto-perfil-navbar"
  />

  </div>
</nav>

<div  *ngIf="menuAbierto"
  class="mobile-menu d-md-none"
 
>

  <a routerLink="/agenda">
   AGENDA
  </a>

   <a routerLink="/clientes">
   CLIENTES
  </a>
  <a routerLink="/panel-control">
    PANEL CONTROL
  </a>

  <a routerLink="/perfil-admin">
    PERFIL
  </a>

</div>
